.details {
    display: flex;
    margin: 2rem 0 4rem 0;
    width: 100%;
    align-items: center;
}

.details_user {
    display: flex;
    width: 100%;
}

.details img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 3rem;
}

.user {
    width: 100%;
}

.followers_details {
    margin-right: 3rem;
}

.followers_details p:nth-child(1) {
    font-weight: 600;
}

.followers_details p:nth-child(2) {
    font-size: 14px;
}

.username_details {
    margin-top: 2rem;
}
.loading {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.link_profile {
    font-size: 12px;
}

.card {
    display: grid;
    justify-items: center;
}